body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
html, body{
  height: 100%;
  width: 100%;
}
.header{
  display: flex;
    justify-content: center;
    gap: 200px;
    background-color: #F12D2D;
    color: white;
    padding-top: 20px;
}
.header a{
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
 
}
.brand-name{
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}
.header button{
  width:180px;
  height: 40px;
  border-style: none;
  border-radius: 30px;
  background-color: #2B83BE;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.main-container-front-page{
display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color: #F12D2D;

padding-top: 130px;

}
.left-side-main-container{
display: flex;
flex-direction: column;
margin: 10px;
padding-left: 150px;
padding-bottom: 150px;


}
.left-side-main-container h2{
  font-size: 15px;
  color: white;
  margin-bottom: -49px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  
}
.left-side-main-container h1{
  color: white;
  font-size: 4rem;
  line-height: 1.2;
  
}
.left-side-main-container button{
  width: 200px;
  height: 55px;
  border-style: none;
  border-radius: 30px;
  background-color: #2B83BE;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.right-side-main-container img{
  width: 80%;
  height: auto;
  display: flex;
  
}

.second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.second-section-heading{
  font-size: 1.7rem;
  margin-bottom: -70px;
  
}
.second-section-heading span{
  color: #2B83BE;

}
.second-section-bottom{
  display: flex;
  gap: 50px;
  margin: 100px;
  margin-top: 100px;

}
.second-section-bottom :hover{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  
}
.second-section-imagebox-1{
background-image: url(images/info_box_icon_1.png);
background-repeat: no-repeat;
background-position: bottom right;
background-size: 43%;
opacity: 0.72;
background-color: #FBEFEF;
padding: 50px;
border-radius: 20px;


}

.second-section-imagebox-1 p{
  line-height: 1.8;
}

.second-section-imagebox-2{
  background-image: url(images/info_box_icon_2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 43%;
  opacity: 0.72;
  background-color: #FBEFEF;
  padding: 50px;
  border-radius: 20px;
  
  
  }
  
  .second-section-imagebox-2 p{
    line-height: 1.8;
  }
  .second-section-imagebox-3{
    background-image: url(images/info_box_icon_3-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 43%;
    opacity: 0.72;
    background-color: #FBEFEF;
    padding: 50px;
    border-radius: 20px;
    
    
    }
    
    .second-section-imagebox-3 p{
      line-height: 1.8;
    }
    .third-section{
      display: flex;
      
    }
    .left-third-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 197px;
      
    }
    .left-third-section h2{
      margin-bottom: -25px;
      color: #F12D2D;
    }
    .left-section-grid-section{
    
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      
    }
    .left-section-grid-section p{
      display: inline;
      margin-left: 20px;
      font-size: 0.8rem;
      margin-right: 12px;
    }
    .left-section-grid-section img{
      position: relative;
      top: 10px;
      margin-top: 15px;
    }
    .right-third-section img{
      width: 75%;
    }
.third-section button{
  width: 30%;
  height: 55px;
  border-style: none;
  border-radius: 30px;
  background-color: #F12D2D;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  
}
.fourth-section{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.counter{
  display: flex;
  gap: 80px;
  font-size: 2rem;


}
.c1::after {
  font: 800 40px system-ui;
  content: counter(count);
  animation: counter 5s linear infinite alternate;
  counter-reset: count 0;
}

@keyframes counter {
  0% {
    counter-increment: count 0;
  }
  10% {
    counter-increment: count 1;
  }
  20% {
    counter-increment: count 2;
  }
  30% {
    counter-increment: count 3;
  }
  40% {
    counter-increment: count 4;
  }
  50% {
    counter-increment: count 5;
  }
  60% {
    counter-increment: count 6;
  }

}
.fourth-section button{
  width: 240px;
  height: 55px;
  border-style: none;
  border-radius: 30px;
  background-color: #F12D2D;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}
.fourth-section h2{
  margin-bottom: -18px;
  
}
.fourth-section h1{
  margin-bottom: 50px;
}
.left-fourth-section img{
  width: 60%;
}
.right-fourth-section h2{
  color: #F12D2D;
}

.fifth-section{
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.fifth-section h2{
  margin-bottom: -18px;
  color: #F12D2D;
}
.top-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.bottom-section{
  display: flex;
  justify-content: space-around;

}
.image{
  background-color: #FBEFEF;
  padding: 70px;
  border-radius: 30px;
  box-shadow: 0px 10px 10px rebeccapurple;
  text-align: center;
}
.last-section{
  margin-top: 200px;
  display: flex;
  justify-content: center;

}
.left-last-section{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 60px;
  margin-left: 200px;
 

}
.left-last-section input{
  width: 300px;
  height: 30px;
  border-color: rgb(184, 180, 174);
  border-radius: 7px;
  margin-top: 8px;
 
}
.last-section button{
  width: auto;
  height: 49px;
  border-style: none;
  border-radius: 30px;
  background-color: #3a3434;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  margin-top: 10px;
}
.footer{
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  background-color: #F12D2D;
  color: white;
  
  padding: 100px 70px 0px 70px;

}